<div class="container mt-5">
  <div class="row g-5">
    <div class="col-4">
      <app-sidebar> </app-sidebar>
    </div>
    <div class="col-8">
      <div class="header text-center">
        <h2 class="mb-3">Cryptocurrency rates</h2>
        <p>
          Follow regularly updated rates of the most popular cryptocurrencies.
          Quotations are expressed in USD Look for the virtual currency of your
          choice and check its average rate, market value and volume over the
          past week.
        </p>
      </div>
      <div class="main"><app-main> </app-main></div>
    </div>
  </div>
</div>
