<div class="card text-center">
  <h6>Log in</h6>
  <form>
    <div class="mb-4">
      <input class="form-control" type="text" placeholder="Username" />
    </div>

    <div class="mb-4">
      <input class="form-control" type="text" placeholder="Password" />
    </div>
    <div class="form-check text-start mb-5">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Remember me
      </label>
    </div>
  </form>
  <button class="btn-custom btn-custom-blue mb-3">Log in</button>
  <p>Don't have an account?</p>
  <button class="btn-custom btn-custom-green" routerLink="/loginpage/signup">
    Sign up
  </button>
</div>
