<section class="text-center container-sm">
  <div
    class="d-flex justify-content-center align-items-center align-items-lg-start flex-column-reverse flex-lg-row px-2 px-lg-0"
    style="gap: 2rem"
  >
    <div class="p-0">
      <app-signup></app-signup>
    </div>
    <div class="main-text-container w-auto">
      <h1>
        Welcome to <span> CryptoCurrency </span>
        App
      </h1>
      <h5 class="w-100 px-2 px-lg-5">
        To start exchanging cryptocurrencies, please log in to your
        CryptoCurrency App account.
      </h5>
    </div>
  </div>
</section>
