<div class="card">
  <nav class="mb-4">
    <ul class="list-unstyled">
      <li class="d-flex align-items-center gap-2 mb-3">
        <img
          src="../../../assets/placeholder.svg"
          alt="logo"
          class="nav-logo"
        />
        <p class="nav-logo-name m-0">Crypto App</p>
      </li>
      <li>
        <a>Home</a>
      </li>
      <li class="mb-4">
        <a>Write Us</a>
      </li>

      <hr />
      <li class="nav-welcome mt-4">
        Hi <span class="nav-welcome-name">{{ loggedUser?.username }}</span> !
      </li>
      <li><a>Profile</a></li>
      <button class="btn-custom btn-custom-green mb-3" (click)="logout()">
        Log out
      </button>
    </ul>
    <hr />
  </nav>
  <div class="saved-currencies">
    <h6>Saved currencies</h6>
    <div class="saved-currencies-container">
      <div
        *ngFor="let crypto of cryptoList"
        class="currency d-flex flex-column gap-3"
      >
        <div class="d-flex gap-2 align-items-center">
          <img
            src="../../../assets/tether-cryptocurrency.svg"
            alt=""
            class="currency-logo"
          />
          <p class="currency-name m-0">{{ crypto.symbol }}</p>
          <a
            (click)="onCloseSavedCurr(crypto.symbol)"
            class="ms-auto align-self-start"
          >
            <img
              src="../../../assets/close-svgrepo-com.svg"
              alt=""
              class="currency-close"
          /></a>
        </div>
        <div class="currency-high d-flex align-items-center">
          <img src="../../../assets/arrow-sm-up-svgrepo-com.svg" alt="" />
          <p>High</p>
          <p class="ms-auto">{{ crypto.price_high }}</p>
        </div>
        <div class="currency-low d-flex align-items-center">
          <img src="../../../assets/arrow-sm-down-svgrepo-com.svg" alt="" />
          <p>Low</p>
          <p class="ms-auto">{{ crypto.price_low }}</p>
        </div>
        <a class="ms-auto currency-link"> See more</a>
        <hr class="mt-0" />
      </div>
    </div>
  </div>
</div>
