<div class="main">
  <ul class="tabs mb-3 d-flex justify-content-between align-items-center mb-4">
    <li
      *ngFor="let tab of openedTabs"
      (click)="selectTab(tab)"
      [ngClass]="{ active: selectedTab?.[0]?.name === tab }"
      class="main"
    >
      <img
        src="../../../assets/tether-cryptocurrency.svg"
        alt=""
        class="icon"
      />
      {{ tab | titlecase }}
      <img
        src="../../../assets/close-svgrepo-com.svg"
        alt=""
        class="close-btn"
        (click)="onCloseTab(tab)"
      />
    </li>

    <li>
      <button mat-button [matMenuTriggerFor]="beforeMenu">
        <img src="../../../assets/plus.svg" alt="" class="plus-icon" />
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button
          mat-menu-item
          *ngFor="let asset of asset_ids"
          (click)="onClickId(asset)"
        >
          {{ asset }}
        </button>
      </mat-menu>
    </li>
  </ul>
  <div class="card mb-5">
    <div
      *ngIf="!selectTab || !selectedId || openedTabs.length === 0"
      class="dashboard-text text-center"
    >
      <h5>
        Unlock the <span>Power of Cryptocurrencies</span> with
        <span>Crypto App</span> !
      </h5>
      <p>
        Explore the world of cryptocurrencies with ease. Our app provides you
        with the tools to track the performance of various cryptocurrencies and
        make informed decisions. Here's how you can get started:
      </p>
      <ol class="text-start">
        <li>
          <span>Select a Currency:</span> Click the plus icon to choose a
          cryptocurrency. Explore Bitcoin, Ethereum, and more.
        </li>
        <li>
          <span>Track Weekly Changes:</span> Visualize your currency's
          performance over the last week.
        </li>
        <li>
          <span>Compare to USD:</span> See how your currency stacks up against
          the US dollar.
        </li>
        <li>
          <span>Save for Updates:</span>
          Save your currency to receive real-time updates on price changes every
          minute.
        </li>
      </ol>
    </div>
    <app-dashboard
      *ngIf="selectedTab"
      [lineChartDatas]="lineChartDatas"
      [selectedTab]="selectedTab"
      class="mb-5"
    ></app-dashboard>
    <app-calc
      *ngIf="selectedTab && selectedId"
      [selectedId]="selectedId"
      class="mb-5"
    ></app-calc>
    <button
      *ngIf="selectedTab"
      class="btn-custom btn-custom-blue"
      (click)="onSaveCrypto()"
    >
      Save
    </button>
  </div>
</div>
