<div>
  <h5>Calculate it</h5>
  <form class="px-5">
    <div class="mb-3">
      <label for="from" class="form-label">From</label>
      <div class="d-flex align-items-center justify-content-center gap-4">
        <input type="text" class="form-control" placeholder="USD" />
        <div class="exchange-container">USD</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="to" class="form-label">To</label>
      <div class="d-flex align-items-center justify-content-center gap-4">
        <input
          type="text"
          class="form-control"
          [placeholder]="selectedId.name"
        />
        <div class="exchange-container">{{ selectedId.name }}</div>
      </div>
    </div>
  </form>
</div>
