<div class="card text-center">
  <h6>Sign up</h6>
  <form>
    <div class="mb-4">
      <input class="form-control" type="text" placeholder="Username" />
    </div>
    <div class="mb-4">
      <input class="form-control" type="text" placeholder="Email" />
    </div>
    <div class="mb-4">
      <input class="form-control" type="text" placeholder="Password" />
    </div>
    <div class="form-check text-start mb-5">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckDefault"
      />
      <label class="form-check-label" for="flexCheckDefault">
        Accept terms and conditions.
      </label>
    </div>
  </form>
  <button class="btn-custom btn-custom-blue mb-3">Sign up</button>
  <p>Already have an account?</p>
  <button class="btn-custom btn-custom-green" routerLink="/loginpage/login">
    Log in
  </button>
</div>
