@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

$offblack: #393939;
$transparent-black: #00000065;
$transparent-white: #ffffffb2;
$input-white: #ffffff56;
$input-black: #00000056;
$purple: #7000ff;
$blue: #2dcdf0;
$blue-transparent: #2dccf072;
$green: #00c868;

// ::selection {
//   background-color: #8ee0b8;
// }

body {
  min-height: 100vh;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  color: $transparent-white;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.card {
  background: rgb(28, 28, 28);
  background: linear-gradient(240deg, rgb(11, 11, 11) 0%, rgb(18, 18, 18) 65%);
  min-width: 24rem;

  color: $transparent-white;
  padding: 2rem;
  position: relative;
  border-radius: 0.8rem;

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: -0.3rem;
    background: conic-gradient(
      from var(--gradient-angle),
      $purple,
      $green,
      $blue,
      $purple
    );
    border-radius: inherit;
    animation: rotation 6s linear infinite;
    z-index: -1;
  }
  &::after {
    filter: blur(5rem);
  }
}
@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.btn-custom {
  border: 0;
  border-radius: 0.4rem;
  padding: 0.8rem;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.5s, ease;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    background-color: transparent;
    border-radius: 0.4rem;
    transition: all 0.4s linear;
  }
  &-blue {
    background-color: $blue;
  }
  &-green {
    border: 0.15rem solid $green;
    font-weight: 400;
  }

  &.btn-custom-blue:hover::before {
    box-shadow: 0 0 0.5rem 0.3rem $blue-transparent;
  }
  &.btn-custom-green:hover::before {
    box-shadow: 0 0 0.6rem 0.4rem $green;
  }
}

.form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 0.15rem solid $transparent-white;
  color: #fff;
  &:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
    border-bottom: 0.15rem solid $purple;
    color: #fff;
  }
  &::placeholder {
    color: $input-white;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff;
}
@media (max-width: 680px) {
  .card {
    width: 100%;
  }
}

#mat-menu-panel-0 {
  background-color: #1e1e1ee6;
}
#cdk-overlay-0 {
  max-height: 50%;
}
